@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1024px) {
    ul.list-sub-cat li {
        margin-bottom: 40px;
    }

    a.sub-cat-title,
    .conference-ex-wp .conference-ex-content p {
        font-size: 19px;
    }

    ul.list-sub-cat li span,
    #full-event-technical-content span {
        font-size: 14px;
    }

    /* Layout 2 */

    ul#layout2.list-sub-cat li {
        width: 50%;
    }

    /* Layout 5 */

    #layout5 p {
        font-size: 18px;
    }

    /* swiper  */

    #layout5 .swiper-button-next,
    #layout5 .swiper-button-prev {
        top: 40% !important;
    }

    .carousel-wp {
        width: 100%;
    }

    /* Full technical support  */

    #full-technical-support div {
        width: 100%;
    }

    #full-event-technical-content a:first-child {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    ul.list-sub-cat li {
        width: 100%;
        margin-bottom: 30px;
    }

    a.sub-cat-title,
    .conference-ex-wp .conference-ex-content p {
        font-size: 16px;
    }

    ul.list-sub-cat li span,
    #full-event-technical-content span {
        font-size: 12px;
    }

    .conference-ex-wp .video-wp,
    .conference-ex-wp .conference-ex-content {
        width: 100%;
    }

    .video-wp {
        height: 260px;
    }

    /* Layout 3 */

    ul#layout3.list-sub-cat li {
        width: 100%;
        margin-bottom: 30px;
    }

    ul#layout3.list-sub-cat li:first-child {
        width: 100% !important;
        margin-bottom: 30px !important;
    }

    /* Layout 4 */

    ul#layout4.list-sub-cat li {
        flex-direction: column;
    }

    ul#layout4.list-sub-cat li:nth-child(2n) {
        flex-direction: column;
    }

    ul#layout4.list-sub-cat li a,
    ul#layout4.list-sub-cat li>div {
        padding: 0 15px;
    }
}

/* Layout 5 */

#layout5 p {
    font-size: 16px;
}

@media only screen and (max-width: 576px) {


    /* Layout 1 */

    ul#layout1.list-sub-cat li {
        width: 100%;
    }

    /* Layout 2 */

    ul#layout2.list-sub-cat li {
        width: 100%;
    }

    /* Layout 5 */

    #layout5 p {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* swiper  */

    #layout5 .swiper-button-next,
    #layout5 .swiper-button-prev {
        top: 30% !important;
    }
}

@media only screen and (max-width: 320px) {}